* h1{
    text-align: center;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    text-align: center;
    text-size-adjust: large;
    background-color: #6ab574;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
.container{
    text-align: center;
    padding: 20px;
    word-spacing: px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    background-color: pink;
}
.pink{ 
    background-color: pink;
}
.green{
    background-color: #6ab574;
}
